<div class="container">
  <div class="row">
    <div class="col-3" id="user-data">
      <%= render partial: 'users/user_detail' %>
    </div>
    <div class='col-9'>
      <div class="container">
        <%= render partial: 'new_tweet_form' %>
        <h1 class="mt-5">Latest Tweets</h1>
        <div class="tweets" id="tweets-list">
          <%= render partial: 'tweets/tweets_list', collection: @tweets, as: :tweet %>
        </div>
      </div>
    </div>
  </div>
</div>